.form-container {
    margin: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.text-input {
    height: 40px;
    width: 300px;
    outline: none;
    padding: 10px;
    font-weight: 400;
    font-size: 1rem;
    border-radius: 50px 0 0 50px;
    border: 1px solid rgb(196, 196, 196);
}

.btn-submit {
    height: 40px;
    outline: none;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 0 50px 50px 0;
    padding: 10px;
    font-weight: 700;
    font-size: 1rem;
    background-color: cornsilk;
}

.btn-clear {
    font-size: 1rem;
    border: none;
    color: rgb(71, 71, 71);
    padding: 10px 10px 10px 20px;
    background: transparent;
}